.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;  

    form{
        display: flex;
        flex-direction: column;

        h1{
            color: #38bdf8;
            font-size: 3rem;
        }
        
        h1, p, span, a{
            display: flex;
            justify-content: center;
        }
    
        input{
            margin: 1rem 0;
            width: 500px;
        }

        p-checkbox{
            margin-right: 10px;
        }

        button{
            margin-top: 1.5rem;
        }

        .container-new-account{
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            background-color: rgb(27, 27, 27);
            border-radius: 10px;

            a{
                margin: 1.5rem 0;
                cursor: pointer;
                color: #38bdf8;
            }

        }
       
    }   

}